{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'img/about-bg.jpg' %}">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading">This is our team.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div style="text-align:center;">
      <h2 style="margin-top:30px;">Current Writing Team</h2>      <!-- Team Name -->
    </div><hr/>

    <div class="row">
      {% for editor in editors %}
      <div class="col-sm-4 d-flex align-items-stretch">
        <div class="border">
          <div class="container overlay1">    
            <img class="card-img-top" src="{{ editor.pic.url }}">
            <div class="card-body">
              <h5 class="card-title">{{ editor.name }}</h5>
              <p class="card-text">{{ editor.get_designation_display }}</p>
              <a href="{{ editor.get_absolute_url }}" class="btn btn-primary">Find Out More</a>
            </div>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:"3" %}</div><div class="row">{% endif %}
      {% endfor %}
    </div>
  

 <!-- Development Team Details -->
  <div style="text-align:center;">
    <h2 style="margin-top:30px;">Development Team</h2>
  </div><hr/>

    <div class="row">
      {% for dev in developers %}
      <div class="col-sm-4 d-flex align-items-stretch">
        <div class="border">
          <div class="container overlay1">    
            <img class="card-img-top" src="{{ dev.pic.url }}">
            <div class="card-body">
              <h5 class="card-title">{{ dev.name }}</h5>
              <p class="card-text">{{ dev.get_designation_display }}</p>
              <a href="{{ dev.get_absolute_url }}" class="btn btn-primary">Find Out More</a>
            </div>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:"3" %}</div><div class="row">{% endif %}
      {% endfor %}
    </div>

</div>
</div>
<hr>
{% endblock %}