{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

<!-- Page Header -->
<div class="testimonial">
<header class="masthead" style="background-image: url({% static 'img/about-bg.jpg' %}">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading">This is our team.</span>
        </div>
      </div>
    </div>
  </div>
</header>
</div>
<!-- Main Content -->

<div class="container padding">
    <div class="row welcome text-center">
      <div class="col-12">
      <h3>Current Writing Team<hr/></h3>      
      <!-- Team Name -->
    </div>
  </div>
</div>

    <section id="info1">
      <div class="info-right">
    <div class="container padding">
      <div class="row padding">
      {% for author in writer %}
       <div class="col-lg-4 d-flex">
        <div class="box">  
        <img class="card-img-top" src="{{ author.pic.url }}">
          <div class="box-content">
              <h5 class="title" >{{ author.name }}</h5>
          <p class="post">{{ author.get_designation_display }}</p>
          <a href="{{ author.get_absolute_url }}" class="btn btn-primary-outline" style=" color: #fff;padding-bottom: 10px; font-size: 10px;">See Profile</a>
          <ul class="icon">
            <li>
              <a href="{{ author.linkedin_url }}">
                  <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
            </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:"3" %}</div><div class="row padding">
      {% endif %}
      {% endfor %}
    </div>
  </div>
    </div>
</section>
<hr>
<!-- Development Team Details -->
<div class="container padding">
    <div class="row welcome text-center">
      <div class="col-12">
      <h3>Development Team<hr/></h3>      
      <!-- Team Name -->
    </div>
  </div>
</div>


<section id="info2">
  <div class="info-left">
<div class="container padding">
      <div class="row padding">
      {% for dev in developers %}
       <div class="col-lg-4 d-flex">
        <div class="box">  
        <img class="card-img-top" src="{{ dev.pic.url }}">
          <div class="box-content">
              <h5 class="title" >{{ dev.name }}</h5>
          <p class="post">{{ dev.get_designation_display }}</p>
          <a href="{{ dev.get_absolute_url }}" class="btn btn-primary-outline" style=" color: #fff;padding-bottom: 10px; font-size: 10px;">See Profile</a>
          <ul class="icon">
            <li>
              <a href="{{ dev.linkedin_url }}">
                  <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="{{ dev.github_url }}">
                  <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
            </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:"3" %}</div><div class="row padding">
      {% endif %}
      {% endfor %}
    </div>
  </div>
  </div>
</section>
<hr>
{% endblock %}