{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/about-bg.jpg' %}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This is our team.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<div style="text-align:center;">
<h2 style="margin-top:30px;">Current Writing Team</h2>      <!-- Team Name -->
</div><hr />
<div class="row" >
  {% for editor in editors %}
  <div class="column1">   <!-- First column of the row -->
    <div class="card">
      <div class="container overlay1">
  <img src="{{ editor.pic.url }}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">{{ editor.name }}</div>   <!-- Name hovering over image -->
  </div>
</div>
      <div class="details">
        <h2>{{ editor.name }}</h2>  <!-- Name written below image -->
        <p class="title">{{ editor.get_designation_display }}</p>
        
        <p><button class="button" onclick="window.location.href = '{{ editor.get_absolute_url }}';"> Find Out More </button></p>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="column2">   <!-- Second column of the row -->
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/Nair.jpg' %}" alt="Avatar" class="image">
  <div class="overlay overlayr">
    <div class="text">Aalap Nair</div>
  </div>
</div>
      <div class="details">
        <h2>Aalap Nair</h2>
        <p class="title">Core Team Member</p>
        
        <p><button class="button"> Find Out More </button></p>
      </div>
    </div>
  </div>
 <div class="column3">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/Vishnu.jpg' %}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Vishnu Madhusudhan</div>
  </div>
</div>
      <div class="details">
        <h2>Vishnu Madhusudhan</h2>
        <p class="title">Core Team Member</p>
        
        <p><button class="button">Find Out More</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column1">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/Ujjwal.jpg' %}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Ujjwal Jha</div>
  </div>
</div>
      <div class="details">
        <h2>Ujjwal Jha</h2>
        <p class="title">Section Editor, World Affairs</p>
        
        <p><button class="button">Find Out More</button></p>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/Pratulya.jpg' %}" alt="Avatar" class="image">
  <div class="overlay overlayr">
    <div class="text">Pratulya Shah</div>
  </div>
</div>
      <div class="details">
        <h2>Pratulya Shah</h2>
        <p class="title">Section Editor, Science and Technology</p>
        
        <p><button class="button">Find Out More</button></p>
      </div>
    </div>
  </div>
    <div class="column3">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/roshan.jpg' %}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Aditaya Raj Roshan</div>
  </div>
</div>
      <div class="details">
        <h2>Aditaya Raj Roshan</h2>
        <p class="title">Core Team Member</p>
        
        <p><button class="button">Find Out More</button></p>
      </div>
    </div>
  </div>


</div>

<div class="row">
  <div class="column1">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/mohanty.jpg' %}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Arpit Mohanty</div>
  </div>
</div>
      <div class="details">
        <h2>Arpit Mohanty</h2>
        <p class="title">Section Editor, Economics and Finance</p>
        
        <p><button class="button">Find Out More</button></p>

      </div>
    </div>
  </div>
    <div class="column3">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/roshan.jpg' %}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Aditaya Raj Roshan</div>
  </div>
</div>
      <div class="details">
        <h2>Aditaya Raj Roshan</h2>
        <p class="title">Core Team Member</p>
        
        <p><button class="button">Find Out More</button></p>
      </div>
    </div>
  </div>


</div>

<div class="row">
  <div class="column1">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/mohanty.jpg' %}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Arpit Mohanty</div>
  </div>
</div>
      <div class="details">
        <h2>Arpit Mohanty</h2>
        <p class="title">Section Editor, Economics and Finance</p>
        
        <p><button class="button">Find Out More</button></p>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/Satwadhi.jpg' %}" alt="Avatar" class="image">
  <div class="overlay overlayr">
    <div class="text">Satwadhi Das</div>
  </div>
</div>
      <div class="details">
        <h2>Satwadhi Das</h2>
        <p class="title">Core Team Member</p>
        
        <p><button class="button">More</button></p>
      </div>
    </div>
  </div>
</div>
<!-- Development Team Details -->
<div style="text-align:center;">
<h2 style="margin-top:30px;">Development Team</h2>
</div><hr />

<div class="row">
  <div class="column1">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/Ujjwal.jpg' %}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Indraneel Ghosh</div>
  </div>
</div>
      <div class="details">
        <h2>  Indraneel Ghosh </h2>
        <p class="title">Head of Web Development</p>
        
        <p><button class="button" onclick="window.location.href = 'profile_page.html';">Find Out More</button></p>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/gaur.jpeg' %}" alt="Avatar" class="image">
  <div class="overlay overlayr">
    <div class="text"> Abhishek Gaur </div>
  </div>
</div>
      <div class="details">
        <h2>Abhishek Gaur</h2>
        <p class="title">Head of Web Development</p>
        
        <p><button class="button">Find Out More</button></p>
      </div>
    </div>
  </div>
    <div class="column3">
    <div class="card">
      <div class="container overlay1">
  <img src="static/img/akshay.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Akshay Mittal</div>
  </div>
</div>
      <div class="details">
        <h2>Akshay Mittal</h2>
        <p class="title">Find Out More</p>
        
        <p><button class="button">Find Out More</button></p>
      </div>
    </div>
  </div>
</div>


  <div class="column2">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/Satwadhi.jpg' %}" alt="Avatar" class="image">
  <div class="overlay overlayr">
    <div class="text">Satwadhi Das</div>
  </div>
</div>
      <div class="details">
        <h2>Satwadhi Das</h2>
        <p class="title">Core Team Member</p>
        
        <p><button class="button">More</button></p>
      </div>
    </div>
  </div>
</div>
<!-- Development Team Details -->
<div style="text-align:center;">
<h2 style="margin-top:30px;">Development Team</h2>
</div><hr/>

<div class="row"><!--need to add this in for for loop, after 3 cycles-->
  {% for dev in developers %}
  <div class="{% cycle 'column1' 'column2' 'column3' %}">
    <div class="card">
      <div class="container overlay1">
  <img src="{{ dev.pic.url }}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">{{ dev.name }}</div>
  </div>
</div>
      <div class="details">
        <h2> {{ dev.name }} </h2>
        <p class="title">{{ dev.get_designation_display }}</p>
        
        <p><button class="button" onclick="window.location.href = '{{ dev.get_absolute_url }}';">Find Out More</button></p>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="column2">
    <div class="card">
      <div class="container overlay1">
  <img src="{% static 'img/gaur.jpeg' %}" alt="Avatar" class="image">
  <div class="overlay overlayr">
    <div class="text"> Abhishek Gaur </div>
  </div>
</div>
      <div class="details">
        <h2>Abhishek Gaur</h2>
        <p class="title">Head of Web Development</p>
        
        <p><button class="button">Find Out More</button></p>
      </div>
    </div>
  </div>
    <div class="column3">
    <div class="card">
      <div class="container overlay1">
  <img src="static/img/akshay.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Akshay Mittal</div>
  </div>
</div>
      <div class="details">
        <h2>Akshay Mittal</h2>
        <p class="title">Find Out More</p>
        
        <p><button class="button">Find Out More</button></p>
      </div>
    </div>
  </div>
</div>


</div>
</div>
  
  <hr>
{% endblock %}