{% load static %}


<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FreeLunch-BITS Academic Periodical Society</title>

  <!-- Bootstrap core CSS -->
 	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js' %}">
  
   <!-- Custom fonts for this template -->
  <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <!--<link href="css/clean-blog.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  
</head>

<body>

  <!-- Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'Home' %}">Freelunch</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Home' %}">Home</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Authors' %}">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'category_post' slug='science-technology' %}">Science & Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'category_post' slug='economics-finance' %}">Economics & Finance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'category_post' slug='world-affairs' %}">World Affairs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'category_post' slug='editorial' %}">Editorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'category_post' slug='book-review' %}">Book Review</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% block content %}
{% endblock %}


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Freelunch 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>
</body>

</html>
