{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FreeLunch-BITS Academic Periodical Society</title>

  <!-- Bootstrap core CSS -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
 	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <!-- Custom fonts for this template -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- The 2 Fonts below are similar to fonts used by medium -->
  <link href="https://fonts.googleapis.com/css?family=Cabin:m" rel="stylesheet">
<!--  <link href="https://fonts.googleapis.com/css?family=Lora:m" rel="stylesheet">  -->

  <!-- Custom styles for this template -->
  <!--<link href="css/clean-blog.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">

  {% block head_extra %} {% endblock head_extra %}
 <!--  Script for tab icon -->
<link rel="shortcut icon" href="../static/img/tablogo.ico" type="image/x-icon"/>

</head>

<body>
  <!-- Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo.jpg' %}" width="152" height="30"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'post_create' %}">Create</a>
            {% else %}
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'section-post' section='EF' %}">Economics & Finance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'section-post' section='E' %}">Editorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'section-post' section='ST' %}">Science & Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'section-post' section='WA' %}">World Affairs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contributor_list' %}">Contributors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'subscribe_form' %}"
                  onclick="window.open('{% url 'subscribe_form' %}',
                               'newwindow',
                               'left=1250,top=150,width=300,height=400');
                    return false;">Subscribe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% block content %}
{% endblock %}

  <!-- Footer -->
  <footer style="padding-top: 15px;padding-bottom: 15px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/13257697/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/freelunchmagazine/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/BITS-Periodical-Society">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li style="padding-top: 1em;">
              <a href="mailto:freelunch@freelunch.co.in?subject=Website%20Queries">freelunch@freelunch.co.in</a>
            </li>
          </ul>
          <p class="copyright"> Developed By
          <ul class="list-inline text-center copyright" >
            <li class="list-inline-item">
              <a href="https://github.com/abhishekspeer" style="text-decoration: none;" > Abhishek Gaur </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/ighosh98" style="text-decoration: none;">Indraneel Ghosh</a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Ak-shay"  style="text-decoration: none;"> Akshay Mittal</a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/UnlaxedNeurotic" style="text-decoration: none;"> Saransh Jindal</a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/HimanshuAgarwal022" style="text-decoration: none;"> Himanshu Aggarwal</a>
            </li>

          </ul>
          </p>
          <p class="copyright text-muted">Copyright &copy; Freelunch 2019</p>

        </div>
      </div>
    </div>
  </footer>


  <script src="{% static 'js/clean-blog.js' %}" type="text/javascript"></script>

  <!--Markdown-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.2/marked.min.js" type="text/javascript"></script>

  <!--script to load content of post-->
  <script type="text/javascript">
    $(document).ready(function(){
    $('img').parent(".content p").addClass('text-center');
      })
  </script>

  <!--   infinte scroll scripts -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js" type="text/javascript"></script>


  {% block javascript %}  {% endblock %}

  <!--script for post-form-->
<script type="text/javascript" src="{% static 'js/post_form.js' %}"></script>

<!--   Scripts for scroll animations -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js" type="text/javascript"></script>
<script type="text/javascript">
        window.sr = ScrollReveal();
        sr.reveal('.navbar', {
          duration: 2000,
          origin:'bottom'
        });
        sr.reveal('.showcase-left', {
          duration: 2000,
          origin:'top',
          distance:'300px'
        });
        sr.reveal('.showcase-right', {
          duration: 2000,
          origin:'right',
          distance:'300px'
        });
        sr.reveal('.showcase-btn', {
          duration: 2000,
          delay: 2000,
          origin:'bottom'
        });
        sr.reveal('#testimonial div', {
          duration: 2000,
          origin:'bottom'
        });
        sr.reveal('.info-left', {
          duration: 2000,
          origin:'left',
          distance:'300px',
          viewFactor: 0.2
        });
        sr.reveal('.info-right', {
          duration: 2000,
          origin:'right',
          distance:'300px',
          viewFactor: 0.2
        });
    </script>
    <script id="dsq-count-scr" src="//freelunch-2.disqus.com/count.js" async></script>
 </body>


</html>
