{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
{% load my_filters %}

  <div class="container" style="padding-top:100px;">
    <h2>Disclaimer</h2>
    <p>BITS ACADEMIC PERIODICAL SOCIETY (henceforth referred to as the Organisation) provides the ‘freelunch.co.in’ web site as a service to the public and web site owners.</p>
    <p>
      The Organisation is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the site.
       While the information contained within the site is periodically updated, no guarantee is given that the information provided in this web site is correct, complete, and up-to-date.
    </p>
    <p>
      Although the Organisation web site may include links providing direct access to other Internet resources, including web sites,
      the Organisation is not responsible for the accuracy or content of information contained in these sites.
    </p>
    <p>Links from the Organisation to third-party sites do not constitute an endorsement by the Organisation of the parties or their products and services.
      The appearance on the web site of advertisements and product or service information does not constitute an endorsement by the Organisation, and the Organisation has not investigated the claims made by any advertiser.
      Product information is based solely on material received from suppliers.
    </p>
    <p>
      The views presented in the articles hosted on ‘freelunch.co.in’ are not endorsed or supported, financially or otherwise,
      by the Organisation in any manner and the Organisation will not bear any responsibility for the same.
    </p>

  </div>

{% endblock %}
