<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>New Article | Freelunch</h2>
	<p>
		Greetings!<br>
		New article is uploaded.
	</p>
	<h4>
		<a href="{{ url }}">{{ title }}</a>
	</h4>
	<p>
		{{ synopsis }}
	</p>
	<p>
		We are inviting articles round the clock.
		Send in your entries to submit@freelunch.co.in
	</p>
	<h5 style="color: rgb(126, 145, 132);">
		Best wishes<br><br>
		BITS Academic Periodical Society<br>
		BITS Pilani, Pilani Campus<br>
		Email id: info@freelunch.co.in<br>
	</h5>
	<hr>
	<h5 style="color: rgb(126, 145, 132);text-align: center">
		Unsubscribe<br>
		FreeLunch · Birla Institute of Technology and Science · Pilani 333031 · India 
	</h5>
</body>
</html>