{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
    <header class="masthead" style="background-image: url({% static 'img/post-bg.jpg' %}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h2 class="subheading">{{ post.synopsis }}</h2>
            <span class="meta">Posted by
            <a href="{{ post.post_editor.get_absolute_url }}">{{ post.post_editor.name.capitalize }}</a>
            Written by
            <a href="{{ post.author.get_absolute_url }}">{{ post.author.name.capitalize }}</a>
            on {{ post.published_date|date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-detail-item">
            {{ post.get_markdown }}  
          </div>
        </div>
      </div>
    </div>
  </article>
  <hr>
{% endblock %}