{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
{% load my_filters %}


<div class="testimonial">
  <header class="masthead">
  </header>

  <article>
<div class="showcase-right" style="background-size: contain;">
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="post">
      <div class="post-title text-center">
        <h1>{{ post.title }}</h1>
      </div>
      <div class="post-cover" style="background-image: url({{ post.cover_image.url }})"></div>
      <div class="post-detail">
         <span class="post-credit">
          <i class="fas fa-feather-alt"></i>
          <a href="{{ post.author.get_absolute_url }}">{{ post.author.name|cap }}</a>
        </span>
        <span class="post-credit">
          <i class="fas fa-newspaper" style="padding-right: 0.2em;"></i><a href="{{ post.post_editor.get_absolute_url }}">{{ post.post_editor.name|cap }}</a>
        </span>
        <span class="post-credit">
          <i class='fas fa-puzzle-piece' style="padding-right: 0.2em;"></i><a href="{% url 'section-post' section=post.section %}">{{ post.get_section_display }}</a>
        </span>
        <span class="post-date">
          <i class="fas fa-calendar-alt" style="padding-right: 0.2em;"></i>{{ post.published_date|date }}
        </span> 
      </div>
      </div>

      <div class="post-content">
        {{ post.get_markdown|linebreaks }}
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div style="text-align:center;">
      <h2 style="margin-top:30px;">Comments({{ post.comments.all.count }})</h2>
    </div>

    <div class="container">
    {% for comment in post.comments.all %}
      {% if comment.is_approved %}
      <div class="border text-center">
      <p> {{comment.text|linebreaks }} </p>
      <p>By: <strong>{{ comment.author|cap }}</strong><br><em>{{ comment.created_date|date }}</em></p>
      {% endif %}
      </div>
    {% endfor %}<br>

      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div style="text-align:center;">
            <h2 style="margin-top:30px;">New Comment</h2>
          </div><hr/>
          <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</article>
  </div>

{% endblock %}
