{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
{% load my_filters %}

<br><br>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-7">
    <div class="container">
      <div class="post-thumbnail">
        <img class="img-fluid" src="{{ post.cover_image.url }}" style="width: 100%;max-height: 22em;">
      </div>
      <div class="post-detail">
        <p id="grey" style="margin-left: 0;margin-top: 1em;margin-bottom: 1em;"><strong>{{ post.get_section_display }}</strong></p>
        <h1><strong>{{ post.title|title }}</strong></h1>
        <footer style="padding: 0">
          <p id="grey" style="margin-left: 0">
            <span class="post-credit"><i class="fas fa-feather-alt" ></i>
              {% for author in post.author.all %}
              {% if forloop.last and not forloop.first %}&{% endif %}
              {% if not forloop.first and not forloop.last%},{% endif %}
                <a href="{{ author.get_absolute_url }}">
                  {{ author.name|cap }}
                </a>
              {% endfor %}
            </span>
            <span class="post-credit">
              <i class="fas fa-newspaper" style="padding-right: 0.2em;"></i><a href="{{ post.post_editor.get_absolute_url }}" style="position: relative;padding-right: 0px;">{{ post.post_editor.name|cap }}</a>          
            </span>
            <span class="post-date">
              <i class="fas fa-calendar-alt" style="padding-right: 0.2em;"></i>{{ post.published_date|date }}
            </span>
          </p>
        </footer>
        <div class="post-body">
          {{ post.get_markdown|linebreaks }}
        </div>
        </div>
        <hr style="margin-top: 0;">
        <div id="disqus_thread"></div>
      </div>
    </div>
    <div class="col-lg-4" style="padding-right: 3em;padding-left: 3em;">
      <h4 style="margin-top: 0;">Must Read</h4>
      {% for post in recommends %}
      <hr>
      <a href="{% url 'post_detail' slug=post.slug %}" class="list-group-item-action">
        <div style="background-image: url({{ post.cover_image.url }});height: 4em;width: 4em;background-size: cover;">
          <p style="margin: 0;width: 15em;padding-left: 6em;"><strong>{{ post.title }}</strong></p>
        </div>
      </a>        
    {% endfor %}
    <hr>
    <div style="text-align:center;">
      <h2 style="margin-top:30px;">Subscribe</h2>
    </div>
    <form method="POST" class="post-form">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
</div>
<hr>

  <script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://freelunch-2.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<style type="text/css">
  p {
    margin-left: 0;
    margin-top: 0;
  }
  #grey{
    color: #60635f;
  }
  ol, ul {
    padding-left: 1em;
  }
</style>
{% endblock %}
