{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Freelunch</h1>
            <span class="subheading">BITS Academic Periodical Society</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
        <div class="post-preview">
          <a href="{{ post.get_absolute_url }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            {% if post.synopsis %}
            <h3 class="post-subtitle">
              {{ post.synopsis }}
            </h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post.author.username.capitalize }}</a>
            on {{ post.published_date|date }}</p>
        </div>
        <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

{% endblock %}
