{% extends 'blog/base.html' %}
{% load static %}
{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}
{% load my_filters %}

{% block content %}
<br><br>
<div class="row">
  <div class="col-sm-6 border" style="padding: 0;">
    <h4 class="text-center" id="form-head" style="margin: 0;">FORM</h4>
  </div>
    <div class="col-sm-6 border" style="padding: 0;">
    <h4 class="text-center" id="preview-head" style="margin: 0;">PREVIEW</h4>
  </div>

<!-- PREVIEW -->
</div>
<div class="testimonial">
  <header class="masthead"></header>
  <article>
    <div class="row post">
      <div class="col-lg-1"></div>
      <div class="col-lg-7">
        <div class="container">
          <div class="post-thumbnail">
            <img id="preview-cover" class="img-fluid border" style="width: 100%;max-height: 22em;">
          </div>
          <div class="post-detail">
            <p id="grey" style="margin-left: 0;margin-top: 1em;margin-bottom: 1em;"><strong id="preview-section"></strong></p>
            <h1 id="preview-title"><strong></strong></h1>
            <footer style="padding: 0">
              <p id="grey" style="margin-left: 0">
                <span class="post-credit"><i class="fas fa-feather-alt" ></i>
                    <a href="" id="preview-author"></a>
                </span>
                <span class="post-credit">
                  <i class="fas fa-newspaper" style="padding-right: 0.2em;"></i><a href="" style="position: relative;padding-right: 0px;" id="preview-editor"></a>          
                </span>
                <span class="post-date">
                  <i class="fas fa-calendar-alt" id="preview-date"></i>
                </span>
              </p>
            </footer>
            <div id="preview-content" class="post-body">
            </div>
            </div>
            <hr style="margin-top: 0;">
          <div id="disqus_thread"></div>
        </div>
      </div>
    </div>
  </article>
<hr>

<!--FORM-->
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <form method="POST" class="post-form" enctype='multipart/form-data'>
    	{% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <div id="help-text">
            <small style="color: grey">{{ field.help_text|safe }}</small>
          </div>
        {% endif %}
      </div>
      {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>	
  </div>
</div>
<a id="tag" class="text-center" href="" onclick="window.open('{% url 'tag-create' %}',
                                                               'newwindow',
                                                               'left=1250,top=150,width=full,height=full');
                                                  return false;">
  <i class="fas fa-plus"></i></a>

<style type="text/css">
  p {
    margin-left: 0;
    margin-top: 0;
  }
  #grey{
    color: #60635f;
  }
  ol, ul {
    padding-left: 1em;
  }
</style>

{% block javascript %}
<!--script for post-form-->
<script type="text/javascript" src="{% static 'js/post_form.js' %}"></script>
{% endblock %}

{% endblock %}