{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/about-bg.jpg' %}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 align="center">{{ me.name }}</h1> <!-- Name -->
            <span class="subheading" align="center">{{ me.get_designation_display }}</span> <!-- Position -->
          </div>
        </div>
      </div>
    </div>
</header>

<div class="section-about" id="about">
  <div class="container">
    <!-- Section Title -->
    <h2 class="title-of-section title-border">About Me</h2>
    <!-- /Section Title -->
  </div>
  <div class="container about-container">
    <div class="row contrast">
      <div class="col-sm-4 col-no-padding">
        <div class="about-picture" id="about-picture">
          <img src="{{ me.pic.url }}" alt="Avatar" class="image">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="padding-box">
          <h4>Bio</h4>
          <p>{{ me.bio }}</p>

            <h4>Let's Connect On</h4>
              <!-- LinkedIn -->
            <div class="col-sm-6">
              <ul class="list-inline text-left">
                {% if me.linkedin_url %}
                <li class="list-inline-item">
                  <a href="{{ me.linkedin_url }}">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                {% endif %}
                <!-- Github -->
                {% if me.github_url %}
                <li class="list-inline-item">
                  <a href="{{ me.github_url }}">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                {% endif %}
                <!-- Mail-ID field -->

                {% if me.email %}
                <li class="list-inline-item" style="padding-top: 2em;">
                  <a href="">{{ me.email }}
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
            </div>



        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>All Posts by {{ me.name }}</h3>
      <div class="list-group">
      {% for post in me.posts.all %}
      <a href = "{% url 'post_detail' slug=post.slug %}" class="list-group-item">
        {{ post.title }}
      </a>
      <br>
      {% endfor %}
      </div>
      </div>

  </div>

<hr>

{% endblock %}
