{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/about-bg.jpg' %}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 align="center">{{ me.name }}</h1> <!-- Name -->
            <span class="subheading" align="center">{{ me.get_designation_display }}</span> <!-- Position -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<div style="text-align:center;">
	 <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<div style="text-align:center;">
<h2 style="margin-top:30px;">About Me</h2>
</div><hr />
<div class="row" >
<!-- Description -->
<div class="card">
      <div class="container overlay1">
  <img src="{{ me.pic.url }}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">{{ me.name }}</div>   <!-- Name hovering over image -->
  </div>
</div>
	<p>{{ me.bio }}<p>

{% endblock %}